*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: grid;
   background-color: beige;
  grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer"
  ;
}

.header {
  grid-area: header;
 
}

.main {
  grid-area: main;
  
  
}
h1{
  text-align: center;
  padding: 2rem;
}
.abt{
  margin-top: 50px;
}

.card {
  min-height: 35rem;
  max-width: 23rem;
  background-color: beige;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.icons{
  display: flex;
  justify-content:center;
  gap: 0.5rem;
  
}
.footer {
  grid-area: footer;
}

.footer__content {
  width: 100%;
  padding-block: 1.5rem;
  font-weight: bold;
}